						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/chem_sycheva.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Валерия Сычева
									<a href="https://vk.com/id165946036" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученица 9 класса гимназии №120</p>
								<p>"Светлана очень помогла мне успешно сдать ОГЭ по химии. Очень компетентный человек с расширенным кругозором и большим опытом преподавания. Успехов ей и процветания!"</p>
							</div>
						</div>