						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/math_kulashova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Елена Куляшова
									<a href="https://vk.com/elena_kulyashova" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускница 2017</p>
								<p>"Занималась у прекрасной Екатерины весь 11 класс. Подготовка к ЕГЭ по профильной математике проходила по темам, разделам, очень доступно и понятно. Начиная с января решали непосредственно тренировочные варианты экзамена, с каждым разом улучшая результат. Каждое занятие было интересным, информативным, а самое главное - реально полезным! В учебном центре царила тёплая, дружелюбная атмосфера, из-за которой я всегда с радостью шла на занятия Хочется сказать огромное спасибо Екатерине за её доброту, приветливость и любовь к предмету и ребятам, которых она учит  Без неё я бы не смогла сдать хорошо экзамен и поступить на бюджет (ФизТех УрФУ) 😘"</p>
							</div>
						</div>