						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/math_samohvalov.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Данила Самохвалов
									<a href="https://vk.com/d_samohval" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускник 2017</p>
								<p>"Квант-отличное место для восстановления и укрепления знаний. Работают грамотные специалисты, знающие подход к каждому. Отдельное спасибо Кате(математика). На наших занятиях всегда была приятная атмосфера для занятий. Екатерина видела наши ошибки и номер за номером их исправляла, вырабатывая в нас пошаговый алгоритм действий. Хочется отметить, что занятия математикой не ограничивались лишь уроками, я прорешал около 50 вариантов(может и больше), и каждый вариант был проверен Катей. За помощью в решениях, можно было обратиться в любое время дня и ночи. Сдал математику на 80(это далеко не то, на что меня подготовила Катя, ибо экзамен после курсов был визуально прост и можно было показывать результат 90+, но волнение никуда не денется). Поступил в РГУ нефти и газа им. Губкина(Москва) за что благодарен Кате и кванту в целом."</p>
							</div>
						</div>