						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/obsh_viktoria.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Виктория
								</h5>
								<p class="lead">Выпускница 2016 года</p>
								<p>"Занятия продолжаются. Вроде всё меня устраивает. Преподаватель требовательная, добрая. К каждому уроку она готовится: материалы, книжки мне предлагает. Мы занимаемся подготовкой к ЕГЭ. Мне иногда она скинет таблицы, распечатки. У меня и оценки в школе улучшились - больше "4" и "5" стало, больше пятёрок, конечно. Пробный писали ЕГЭ в школе, было 50 баллов, а сейчас я набираю 75-77 баллов."</p>
							</div>
						</div>