						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/shaevich.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Михаил Шаевич
									<a href="https://vk.com/freyahere" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускник 2016 года</p>
								<p>"Занимался у Виталия физикой весь 11ый класс, готовился к ЕГЭ. Занятия всегда проходили очень занимательно интересно и весело (что, самое главное, никак не мешало непосредственно получению знаний)! Материал всегда подавался очень доступно, понятно и интересно. С удовольствием посещал их до самого выпуска, что несомненно помогло мне набрать такие желанные баллы для поступления, поступил ровно туда, куда и хотел!"</p>
							</div>
						</div>