				<div class="col-6 text-right">
					<p class="lead">Подготовка к ЕГЭ</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'rus' %}">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'math' %}">
							по математике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'phys' %}">
							по физике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'chem' %}">
							по химии
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'eng' %}">
							по английскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'eng' %}">
							по обществознанию
						</a>
					</p>
				</div>
				<div class="col-6">
					<p class="lead">Подготовка к ОГЭ</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'rus' %}">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'math' %}">
							по математике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'phys' %}">
							по физике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'chem' %}">
							по химии
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'eng' %}">
							по английскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'eng' %}">
							по обществознанию
						</a>
					</p>
				</div>