			<div class="row">
				<div class="col-12 text-center">
					<h3 class="mt-0">Наши курсы</h3>
					<hr>
				</div>
				<div class="col-12 col-sm-6 text-center">
					<p class="lead">Подготовка к ЕГЭ</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'rus' %}">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'math' %}">
							по математике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'phys' %}">
							по физике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'chem' %}">
							по химии
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'bio' %}">
							по биологии
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'eng' %}">
							по английскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '11' 'obsh' %}">
							по обществознанию
						</a>
					</p>
					<br class="d-inline d-sm-none">
				</div>
				<div class="col-12 col-sm-6 text-center">
					<p class="lead">Подготовка к ОГЭ</p>
					<p>
						<a href="{% url 'landings:constructor' '9' 'rus' %}">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '9' 'math' %}">
							по математике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '9' 'phys' %}">
							по физике
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '9' 'chem' %}">
							по химии
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '9' 'lit' %}">
							по литературе
						</a>
					</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-sm-4 text-center">
					<p class="lead">10 класс</p>
					<p>
						<a href="{% url 'landings:constructor' '10' 'rus' %}">
							Русский язык
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '10' 'math' %}">
							Математика
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '10' 'phys' %}">
							Физика
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '10' 'chem' %}">
							Химия
						</a>
					</p>
					<br class="d-inline d-sm-none">
				</div>
				<div class="col-12 col-sm-4 text-center">
					<p class="lead">8 класс</p>
					<p>
						<a href="{% url 'landings:constructor' '8' 'rus' %}">
							Русский язык
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '8' 'math' %}">
							Математика
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '8' 'phys' %}">
							Физика
						</a>
					</p>
					<p>
						<a href="{% url 'landings:constructor' '8' 'chem' %}">
							Химия
						</a>
					</p>
					<br class="d-inline d-sm-none">
				</div>
				<div class="col-12 col-sm-4 text-center">
					<p class="lead">7 класс</p>
					<p>
						<a href="{% url 'landings:constructor' '7' 'urfu' %}">
							Подготовка к физ-мат классам
						</a>
					</p>
					<br>
					<p class="lead">Начальная школа</p>
					<p>
						<a href="{% url 'landings:constructor' '3' 'logic' %}">
							Математика и логика
						</a>
					</p>
				</div>
			</div>