			{% load staticfiles %}

			<h2 class="mt-0 text-center">Прайс-лист</h2>
				<div class="col-12 text-center">
					<table class="table table-bordered table-hover price-table table-sm table-responsive">
						<thead class="thead-inverse">
							<tr>
								<th>Длительность</th>
								<th>Одно занятие</th>
								<th>Этап (4 занятия)</th>
								<th>Полгода (15 занятий)</th>
								<th>Год (30 занятий)</th>
							</tr>
						</thead>
						<thead class="thead-default">
							<tr>
								<th colspan="5">
									В группе
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>60 минут</th>
								<td>400 ₽</td>
								<td>1600 ₽</td>
								<td><s>6000</s> 5700 ₽ (-5%)</td>
								<td><s>12000</s> 10800 ₽ (-10%)</td>
							</tr>
							<tr>
								<th>90 минут</th>
								<td>600 ₽</td>
								<td>2400 ₽</td>
								<td><s>9000</s> 8550 ₽ (-5%)</td>
								<td><s>18000</s> 16200 ₽ (-10%)</td>
							</tr>
							<tr>
								<th>120 минут</th>
								<td>800 ₽</td>
								<td>3200 ₽</td>
								<td><s>12000</s> 11400 ₽ (-5%)</td>
								<td><s>24000</s> 21600 ₽ (-10%)</td>
							</tr>
							<tr>
								<th>180 минут</th>
								<td>1200 ₽</td>
								<td>4800 ₽</td>
								<td><s>18000</s> 17100 ₽ (-5%)</td>
								<td><s>36000</s> 32400 ₽ (-10%)</td>
							</tr>
						</tbody>
						<thead class="thead-default">
							<tr>
								<th colspan="5">
									Индивидуально
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>60 минут</th>
								<td>1000 ₽</td>
								<td>4000 ₽</td>
								<td><s>15000</s> 13500 ₽ (-5%)</td>
								<td rowspan="3" class="table-dark"></td>
							</tr>
							<tr>
								<th>90 минут</th>
								<td>1500 ₽</td>
								<td>6000 ₽</td>
								<td><s>22500</s> 20250 ₽ (-5%)</td>
							</tr>
							<tr>
								<th>120 минут</th>
								<td>2000 ₽</td>
								<td>8000 ₽</td>
								<td><s>30000</s> 27000 ₽ (-5%)</td>
							</tr>
						</tbody>
					</table>
				</div>