			{% load staticfiles %}

			<div class="row">
				<div class="col-12 text-center">
					<h2 class="mt-0">Из чего строится обучение</h2>
				</div>
			</div>
			<div class="row cards-row justify-content-center">
				<div class="col-10 col-md-8">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/read.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Учебные материалы</p>
							<p>Авторские разработки для качественных занятий в системе смешанного обучения позволяют интенсивно осваивать новый материал</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row justify-content-center">
				<div class="col-10 col-md-8">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/group.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Обучение в маленьких группах</p>
							<p>Формат обучения позволяет выявить слабые места и работать над ними индивидуально</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row justify-content-center">
				<div class="col-10 col-md-8">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/touch-screen.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Много практики</p>
							<p>В системе “перевернутого класса” ученик изучает теорию дома, а в классе разбирает сложные моменты и решает практические задач. Такие занятия позволяют не просто подготовиться к экзамену, а изучить предмет</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row justify-content-center">
				<div class="col-10 col-md-8">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/seo.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Диагностика</p>
							<p>Тестирование на основе образовательного графа помогает точно определить проблемные темы и скорректировать траекторию дальнейшего обучения</p>
						</div>
					</div>
				</div>
			</div>