version: '3'

services:
  db:
    image: postgres

  cache:
    image: memcached

  web:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile.web
    entrypoint: python3 django/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/code/
    ports:
      - "8000:8000"
    depends_on:
      - db
    links:
      - db
      # - cache
      # - assets