	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 social-icons">
					<a href="http://vk.com/quantzone">
						<i class="fa fa-vk fa-lg fa-inverse" aria-hidden="true"></i>
					</a>
					&nbsp;
					<i class="fa fa-instagram fa-lg fa-inverse" aria-hidden="true"></i>
					&nbsp;
					<i class="fa fa-facebook-square fa-lg fa-inverse" aria-hidden="true"></i>
					&nbsp;
					<i class="fa fa-youtube-play fa-lg fa-inverse" aria-hidden="true"></i>
				</div>
				<div class="col-12 col-md-4 text-center">
					<a href="tel:+73432885276" class="text-white">
						+7 (343) 288-52-76
					</a>
				</div>
				<div class="col-12 col-md-4">
					<div class="footer-about">
						<span>ООО "Онлайф Групп", {% now "Y" %} &copy;</span>
					</div>
				</div>
			</div>
		</div>
	</footer>