	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 social-icons">
					<a href="http://vk.com/quantzone">
						<i class="fa fa-vk fa-lg fa-inverse" aria-hidden="true"></i>
					</a>
					&nbsp;
					<i class="fa fa-instagram fa-lg fa-inverse" aria-hidden="true"></i>
					&nbsp;
					<i class="fa fa-facebook-square fa-lg fa-inverse" aria-hidden="true"></i>
					&nbsp;
					<i class="fa fa-youtube-play fa-lg fa-inverse" aria-hidden="true"></i>
				</div>
				<div class="col-12 col-md-4 text-center">
					<a href="tel:+73432885276" class="text-white">
						+7 (343) 288-52-76
					</a>
				</div>
				<div class="col-12 col-md-5">
					<div class="footer-about">
						<span>ИП Харченко ВВ, {% now "Y" %} &copy;</span>
					</div>
				</div>
				<div class="col-12 col-md-6 text-center">
					<a href="https://docs.google.com/document/d/1mg595kfdLyZrzXZdmdXuqtwVbWSHTtgOOv66MmGdNWw/edit?usp=sharing" class="text-white" target="_blank">Договор-оферта</a>
				</div>
				<div class="col-12 col-md-6 text-center">
					<a href="https://perezvoni.com/ru/policy/?cid=1" class="text-white" target="_blank">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</footer>