@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

@import 'bootstrap';

// for navbar
body {
	min-height: 75rem;
	padding-top: 3.5rem;
}

nav {
	background-color: #48596D;
}

header {
	padding-top: 50px;

	.phone {
		// font-weight: bold;
	}
}

#promo {
	padding-top: 100px;
	padding-bottom: 200px;

    h1 {
        margin-bottom: 30px;
    }

	.main-text {
		margin-bottom: 80px;
	}

	.main-form {
		margin-bottom: 30px;
	}

	.main-form-button {
		margin-bottom: 30px;
	}
}

#where {

	.map-row {
		margin-top: 50px;
	}
}

#what {
	padding-top: 50px;
    padding-bottom: 100px;

	.cards-row {
		margin-top: 50px;

        .cards-img {
            margin-bottom: 25px;
        }
	}
}

.footer {
	margin-top: 50px;
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: $gray-lightest;
}
