@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

@import 'bootstrap';

img {

}

$orange1: #F99679;

header {
	background: $orange1;
	padding-top: 50px;

	.phone {
		font-weight: bold;
	}
}

#promo {
	background: $orange1;
	padding-top: 100px;
	padding-bottom: 200px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

	.main-text {
		margin-bottom: 80px;
	}

	.main-form {
		margin-bottom: 30px;
	}

	.main-form-button {
		margin-bottom: 30px;
	}
}

#where {
	padding-top: 50px;

	.map-row {
		margin-top: 50px;
	}
}

#what {
	padding-top: 50px;

	.map-row {
		margin-top: 50px;
	}
}
