@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

@import 'bootstrap';

// for sticky footer
html {
  	position: relative;
  	min-height: 100%;
}

body {
	// for fixed navbar
	&.with-nav {
		padding-top: 3.5rem;

		> .container {
			margin-top: 50px;
		}
	}

	nav {
		background-color: $blue-dark;
	}

	// for sticky footer
  	margin-bottom: 180px; /* Margin bottom by footer height */

  	@media screen and (max-width: 768px) {
	    margin-bottom: 300px; /* Margin bottom by footer height */
	}

	.footer {
		margin-top: 60px;
		line-height: 60px; /* Vertically center the text there */
		background-color: $gray-700;
		color: $gray-300;
		
		position: absolute;
	  	bottom: 0;
	  	width: 100%;

	  	.footer-contacts {
	  		text-align: left;

	  		@media screen and (max-width: 768px) {
			    text-align: center;
			}
	  	}

	  	.footer-docs {
	  		text-align: right;

	  		@media screen and (max-width: 768px) {
			    text-align: center;
			}
	  	}
	}

	white-space: normal;
}

.subject-img {
	width: 26px;
}

.btn {
	white-space: normal;
}

.landing-section {
	padding-top: 50px;
	padding-bottom: 50px;
}

header {
	&.promo {
		padding-top: 50px;
		padding-bottom: 200px;

		.phone {
			color: $gray-800;
		}

		h1 {
	        margin-bottom: 30px;
	    }

		.main-text {
			margin-top: 100px;
			margin-bottom: 80px;
		}

		// .main-form-button {
		// 	margin-bottom: 30px;
		// }
	}

	@media screen and (max-width: 768px) {
	    &.promo {
	        padding-bottom: 100px;

	        .main-text {
				margin-top: 50px;
			}
	    }
	}
}

#where {
	padding-top: 50px;
	padding-bottom: 50px;

	.map-row {
		margin-top: 50px;
	}
}

#what {
	padding-top: 50px;
	padding-bottom: 50px;

	.cards-row {
		margin-top: 50px;

        .cards-img {
            margin-bottom: 25px;
            width: 100%;
        }
	}
}

#key{
	.row {
		overflow: hidden;
	}
}

#who {
	padding-bottom: 0px;

	.who-row {
		min-height: 425px;
	}
}

#mentions {
	.w-100 {
		width: 100%;
	}

	.mention {
		padding-top: 50px;
	}
}

#recomendation {
	.divider {
		border: 2px solid $gray-300;
	}
}

figure, .embed-responsive {
	margin: 30px 0;
}

.text-block-card {
	margin-top: 30px; 
}