					{% load form_extras %}

					<div class="row">
						<div class="col text-center">
							<p class="h3">
								Узнай свой уровень знаний прямо сейчас!
							</p>
							<hr>
						</div>
					</div>
					<form action="" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								{% text_input field=form.name placeholder='Ваше имя' no_label='True' extra_class='form-control-lg' %}
							</div>
							<div class="col-sm-6">
								{% text_input field=form.email placeholder='Ваш email' no_label='True' extra_class='form-control-lg' input_type='email' %}
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<button type="submit" class="btn btn-success btn-lg btn-block">Пройти тестирование</button>
								<br>
								{% include "components/messages.html" %}
							</div>
						</div>
					</form>