h1, .h1 {
	font-family: $font-family-roboto-slab;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  	font-family: $font-family-roboto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
	opacity: 1.00;
	line-height: 1.20;
	word-spacing: 0.00px;
	text-transform: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
body {
    font-family: $font-family-sans-serif;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 500;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

p {
	font-family: $font-family-open-sans;
    line-height: 1.60;
    opacity: 0.90;
    margin-top: 0px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;

    &.lead {
    	font-weight: 600;
    }
}