{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Quant LMS{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/all.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body class="{% block body-class %}{% endblock %}">
    
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    
    {% block nav %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include "components/footer.html" %}
    {% endblock %}

    <script src="{% static '/js/all.js' %}"></script>
</body>
</html>