							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/unknown.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Эрнст Неизвестный</p>
								<ul>
									<li>Проходит собеседования в данный момент</li>
									<li>Готовится нести знания в массы</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="https://dummyimage.com/450x400/666666/fff.png&text=?" alt="..." class="img-fluid">
							</div>