				<div class="col-10 offset-1 col-sm-12 offset-sm-0">
					<div class="map-header-row">
						<h2 class="mt-0 text-center">Занятия проходят в центре города</h2>
					</div>
					<div class="row map-row hidden-sm-down">
						<div class="col-md-8">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
						</div>
						<div class="col-md-4">
							<p class="lead">Метро Площадь 1905 года</p>
							<p class="lead">ул. 8 Марта, д.2</p>
							<p class="lead">1 этаж, вход с ул. Володарского</p>
						</div>
					</div>
					<div class="row map-row hidden-md-up">
						<div class="col-12">
							<a href="https://yandex.ru/maps/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;source=constructorStatic" target="_blank">
								<img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;width=600&amp;height=386&amp;lang=ru_RU" alt="" style="border: 0;" class="img-fluid" />
							</a>
							<hr>
							<p class="lead">Метро Площадь 1905 года</p>
							<p class="lead">ул. 8 Марта, д.2</p>
							<p class="lead">1 этаж, вход с ул. Володарского</p>
						</div>
					</div>
				</div>