{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}[Quant]{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/all.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body class="{% block body-class %}{% endblock %}">
    
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    
    {% block nav %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include "components/footer.html" %}
    {% endblock %}

    <script src="{% static '/js/all.js' %}"></script>

    {% block scripts %}{% endblock %}

    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40814979 = new Ya.Metrika({ id:40814979, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40814979" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>