{% extends "_base.html" %}

{% load staticfiles %}

{% block body %}
	<header class="promo section-red">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
					<p>Образовательный центр</p>
				</div>
				<div class="col-sm-6 text-center text-sm-right">
					<a href="tel:+73432885276">
						<hr class="hidden-sm-up">
						<p class="h3 phone">+7 (343) 288 52 76</p>
					</a>
					<a href="" class="btn btn-green mt-0">Заказать звонок</a>
				</div>
			</div>
			<div class="row">
				<div class="col-10 offset-1 col-md-8 offset-md-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center">Подготовим ребенка к успешной сдаче ЕГЭ</h1>
							<p class="lead text-center">Годовая программа по русскому языку разработана для успешной сдачи ОГЭ с любым уровнем начальной подготовки</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-sm-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-sm-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-success btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="key" class="landing-section">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="display-5 mt-0">Научись решать все задачи из первой части, продвинься в заданиях части С и приобрети уверенность в своих силах</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="who" class="section-green landing-section">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="container">
						<div class="row who-row">
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/paramonova.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Парамонова Екатерина</p>
								<ul>
									<li>Лауреат премии губернатора Пермского края “За лучшие результаты ЕГЭ”</li>
									<li>Призёр олимпиад ПНИПУ и ИТМО по математике и информатике</li>
									<li>Награждена знаком “Отличник учёбы” УрФУ</li>
									<li>Опыт преподавания - с 2013 года</li>
									<li>Может показать, что математика - не просто набор абстрактных символов, формул и алгоритмов, а красивая наука, которая учит мыслить логически</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/paramonova.png' %}" alt="..." class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row who-row">
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/harchenko.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Харченко Виталий</p>
								<ul>
									<li>Призёр всероссийских олимпиад по физике и математике</li>
									<li>С 2014 года – преподаватель физики категории А в федеральном учебном центре</li>
									<li>С 2016 года – тренирует олимпиадников в СУНЦ УрФУ</li>
									<li>Опыт преподавания - с 2011 года</li>
									<li>Умеет привить интерес к предмету, развить абстрактное техническое мышление, помочь в выборе ВУЗа и профессии.</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/harchenko.png' %}" alt="..." class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row who-row">
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/pirozhok.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Пирожок Екатерина</p>
								<ul>
									<li>С 2012 года - воспитатель в Школе Успешного Абитуриента УрФУ</li>
									<li>С 2015 года - учитель филологии в СУНЦ УрФУ</li>
									<li>Окончила филологический факультет УрФУ с красным дипломом</li>
									<li>Практикует деятельностно-ориентированный подход к изучению русского языка, помогает развить критическое мышление и любовь к великому и могучему!</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/pirozhok.png' %}" alt="..." class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>

	<section id="what" class="landing-section">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="mt-0">Из чего строится обучение</h2>
				</div>
			</div>
			<div class="row cards-row">
				<div class="col-10 offset-1 col-md-8 offset-md-2">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/read.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Учебные материалы</p>
							<p>Авторские разработки для качественных занятий в системе смешанного обучения позволяют интенсивно осваивать новый материал</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row">
				<div class="col-10 offset-1 col-md-8 offset-md-2">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/group.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Обучение в маленьких группах</p>
							<p>Формат обучения позволяет выявить слабые места и работать над ними индивидуально</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row">
				<div class="col-10 offset-1 col-md-8 offset-md-2">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/touch-screen.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Много практики</p>
							<p>В системе “перевернутого класса” ученик изучает теорию дома, а в классе разбирает сложные моменты и решает практические задач. Такие занятия позволяют не просто подготовиться к экзамену, а изучить математику</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row cards-row">
				<div class="col-10 offset-1 col-md-8 offset-md-2">
					<div class="row">
						<div class="col-3">
							<img src="{% static '/images/icons/seo.svg' %}" alt="..." class="rounded-circle img-fluid cards-img">
						</div>
						<div class="col-9">
							<p class="lead">Диагностика</p>
							<p>Тестирование на основе образовательного графа помогает точно определить проблемные темы и скорректировать траекторию дальнейшего обучения</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="when" class="section-yellow landing-section">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="mt-0">Старт занятий 27 сентября</h3>
				</div>
			</div>
		</div>
	</section>

	<section id="where" class="landing-section">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-12 offset-sm-0">
					<div class="map-header-row">
						<h2 class="mt-0 text-center">Занятия проходят в центре города</h2>
					</div>
					<div class="row map-row hidden-sm-down">
						<div class="col-md-8">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
						</div>
						<div class="col-md-4">
							<p>Недалеко от Площади 1905 года</p>
							<p>ул. 8 Марта, д.2</p>
							<p>1 этаж, вход с ул. Володарского</p>
						</div>
					</div>
					<div class="row map-row hidden-md-up">
						<div class="col-12">
							<a href="https://yandex.ru/maps/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;source=constructorStatic" target="_blank">
								<img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ac62e1b1cf02788f2d4e8b9fb6e01a218f56ce72a8579ac6b1621697e99f63935&amp;width=600&amp;height=386&amp;lang=ru_RU" alt="" style="border: 0;" class="img-fluid" />
							</a>
							<hr>
							<p>Недалеко от Площади 1905 года</p>
							<p>ул. 8 Марта, д.2</p>
							<p>1 этаж, вход с ул. Володарского</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="mentions" class="section-blue landing-section">
		<h2 class="mt-0 text-center">Отзывы учеников и родителей</h2>
		<div id="carouselMentions" class="carousel slide" data-ride="carousel" data-interval="false">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/orechkin.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Артем Орешкин
									<a href="https://vk.com/artemoresh" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускник 2017 года</p>
								<p>"Привет) хотел выразить огромную благодарность не только за егэ, но и за кучу жизненных и поучительных советов, я поступил в бауманку, в этом есть твой огромный вклад, огромнейшее спасибо))"</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/vikulova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Надежда Викулова
									<a href="https://vk.com/vikulova171" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученица 8 класса, гимназия №9</p>
								<p>"Занимались с Виталием всего пару недель, за это время смогли выявить и устранить все пробелы в знаниях, накопившиеся за год, что помогло мне сдать зачёт по физике. Занятия были интересными и эффективными, я очень довольна результатом."</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/musallamova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Екатерина Мусаллямова
									<a href="https://vk.com/freyahere" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускница 2015 года</p>
								<p>"Занималась у Виталия год, раньше физику вообще не знала, за год занятий подтянула и поступила, куда хотела. Пары всегда проходили на позитиве, ходила с удовольствием. Виталий всегда хорошо и понятно объяснял, доступно даже чайникам) Осталась очень довольна результатом!"</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/shaevich.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Михаил Шаевич
									<a href="https://vk.com/freyahere" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускник 2016 года</p>
								<p>"Занимался у Виталия физикой весь 11ый класс, готовился к ЕГЭ. Занятия всегда проходили очень занимательно интересно и весело (что, самое главное, никак не мешало непосредственно получению знаний)! Материал всегда подавался очень доступно, понятно и интересно. С удовольствием посещал их до самого выпуска, что несомненно помогло мне набрать такие желанные баллы для поступления, поступил ровно туда, куда и хотел!"</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/sherbakova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Екатерина Щербакова
									<a href="https://vk.com/id155387683" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Мама ученицы 7 класса</p>
								<p>"Виталий, добрый вечер, Настя в восторге от занятий, благодарю Вас! Как будто на родную планету попала) Спасибо Вам!!!"</p>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/kameneva.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Алена Петровна Каменева
									<a href="tel:+79222054927">
										<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Мама ученика 8 класса</p>
								<p>"Спасибо Вам за занятия, теперь у нас по физике 4. 😀"</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselMentions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselMentions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<script>
			$('.carousel').carousel({
			  intrerval: false
			})
		</script>
	</section>

	<section id="program" class="landing-section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="mt-0 text-center">Программа курса</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Алгебра
						<small>
							19 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-1" aria-expanded="false" aria-controls="program-collapse-1">
							    Все темы ⇲
							</a>
						</small>
					</h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-1" class="collapse">
						<p>Тема 1. Множества, числа, представление данных, элементы комбинаторики, статистика, вероятность</p>
						<p>Тема 2. Рациональные выражения и уравнения</p>
						<p>Тема 3. Рациональные неравенства, метод интервалов, метод рационализации</p>
						<p>Тема 4. Модуль, уравнения с модулем, неравенства с модулем</p>
						<p>Тема 5. Иррациональные числа, иррациональные уравнения и неравенства</p>
						<p>Тема 6. Степени, показательные уравнения и неравенства</p>
						<p>Тема 7. Логарифмы, логарифмические уравнения и неравенства</p>
						<p>Тема 8. Основы тригонометрии</p>
						<p>Тема 9. Тригонометрические уравнения и неравенства</p>
						<p>Тема 10. Числовые последовательности, прогрессии</p>
						<p>Тема 11. Проценты, формула сложных процентов, задачи на вклады</p>
						<p>Тема 12. Системы уравнений и неравенств</p>
						<p>Тема 13. Текстовые задачи</p>
						<p>Тема 14. Функции, их графики и свойства, преобразования</p>
						<p>Тема 15. Производная функции, первообразная и интеграл</p>
						<p>Тема 16. Исследование функции при помощи производной, оптимизационные задачи</p>
						<p>Тема 17. Уравнения, неравенства и их системы, содержащие параметр</p>
						<p>Тема 18. Графические способы решения задач с параметром</p>
						<p>Тема 19. Задачи на теорию чисел</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Геометрия
						<small>
							11 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-2" aria-expanded="false" aria-controls="program-collapse-2">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-2" class="collapse">
						<p>Тема 20. Треугольник</p>
						<p>Тема 21. Четырехугольники</p>
						<p>Тема 22. Окружность</p>
						<p>Тема 23. Задачи по планиметрии на ЕГЭ</p>
						<p>Тема 24. Прямые и плоскости в пространстве</p>
						<p>Тема 25. Призма, параллелепипед, куб</p>
						<p>Тема 26. Пирамида</p>
						<p>Тема 27. Построение сечений</p>
						<p>Тема 28. Цилиндр, конус, шар и сфера</p>
						<p>Тема 29. Векторная алгебра</p>
						<p>Тема 30. Задачи по стереометрии на ЕГЭ</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Механика
						<small>
							9 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-3" aria-expanded="false" aria-controls="program-collapse-3">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-3" class="collapse">
						<p>Тема 1. Основные понятия механики, виды движения, графико-аналитические задачи</p>
						<p>Тема 2. Равноускоренное движение. Баллистические задачи</p>
						<p>Тема 3. Относительность движения. Вращательное движение</p>
						<p>Тема 4. Законы Ньютона, виды сил</p>
						<p>Тема 5. Основная задача динамики и ее основные подвиды</p>
						<p>Тема 6. Статика</p>
						<p>Тема 7. Закон сохранения импульса</p>
						<p>Тема 8. Закон сохранения энергии</p>
						<p>Тема 9. Механические колебания и волны</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Молекулярная физика
						<small>
							6 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-4" aria-expanded="false" aria-controls="program-collapse-4">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-4" class="collapse">
						<p>Тема 10. Молекулярная физика. МКТ. Идеальный газ. Уравнение состояния. Внутренняя энергия идеального газа.</p>
						<p>Тема 11. Изопроцессы, графические задачи.</p>
						<p>Тема 12. Количество теплоты и теплопередача. Тепловые процессы и фазовые переходы. Графические задачи о превращении тел. Уравнение теплового баланса</p>
						<p>Тема 13. Работа газа. Первое начало термодинамики</p>
						<p>Тема 14. Тепловые машины и их КПД</p>
						<p>Тема 15. Реальный газ. Влажность.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Оптика и квантовая физика
						<small>
							5 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-5" aria-expanded="false" aria-controls="program-collapse-5">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-5" class="collapse">
						<p>Тема 16. Геометрическая оптика. Отражение и преломление. Линзы. Оптические приборы.</p>
						<p>Тема 17. Волновая оптика. Когерентность. Интерференция света. Дифракция и дифракционная решетка. Дисперсия света.</p>
						<p>Тема 18. Корпускулярно-волновой дуализм. Гипотеза Планка. Фотоны. Фотоэффект. Давление света.</p>
						<p>Тема 19. Атомная физика. Планетарная модель атома. Постулаты Бора. Спектры атомов</p>
						<p>Тема 20. Ядерная физика. Изотопы. Радиоактивность. Закон радиоактивного распада и ядерные реакции.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Электродинамика
						<small>
							6 занятий
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-6" aria-expanded="false" aria-controls="program-collapse-6">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-6" class="collapse">
						<p>Тема 21. Заряды. Электрическое поле. Напряженность, потенциал и их связь между собой. Проводники и диэлектрики в электрическом поле.</p>
						<p>Тема 22. Электрическая емкость. конденсаторы и их соединения. Потенциальная энергия конденсатора.</p>
						<p>Тема 23. Постоянный ток. Сопротивление, закон Ома. Последовательное и параллельное соединение проводников. Работа и мощность тока. Полупроводники.</p>
						<p>Тема 24. Магнитное поле постоянного магнита и проводника с током. Сила Ампера, сила Лоренца. Движение заряженных частиц в магнитном поле.</p>
						<p>Тема 25. Электромагнитная индукция. правило Ленца, Индуктивность и самоиндукция. Энергия магнитного поля катушки с током.</p>
						<p>Тема 26. Электромагнитные колебания. Колебательный контур. Переменный ток. Электромагнитные волны и их свойства.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<h3>
						Повторение
						<small>
							4 занятия
						</small>
					</h3>
				</div>
				<div class="col-4 text-right">
					<h3>
						<small>
							<a data-toggle="collapse" href="#program-collapse-7" aria-expanded="false" aria-controls="program-collapse-7">
							    Все темы ⇲
						    </a>
					    </small>
				    </h3>
				</div>
				<div class="col-12">
					<hr>
					<div id="program-collapse-7" class="collapse">
						<p>Тема 27. Повторение пройденных тем, консультации.</p>
						<p>Тема 28. Пробный экзамен</p>
						<p>Тема 29. Разбор вариантов ЕГЭ</p>
						<p>Тема 30. Составляем, решаем и разбираем свой вариант ЕГЭ.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="other" class="section-orange landing-section">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="mt-0">Вас также могут заинтересовать</h3>
					<hr>
				</div>
				<div class="col-6 text-right">
					<p class="lead">Подготовка к ЕГЭ</p>
					<p>
						<a href="">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="">
							по математике
						</a>
					</p>
					<p>
						<a href="">
							по английскому языку
						</a>
					</p>
					<p>
						<a href="">
							по физике
						</a>
					</p>
					<p>
						<a href="">
							по химии
						</a>
					</p>
				</div>
				<div class="col-6">
					<p class="lead">Подготовка к ОГЭ</p>
					<p>
						<a href="">
							по русскому языку
						</a>
					</p>
					<p>
						<a href="">
							по математике
						</a>
					</p>
					<p>
						<a href="">
							по английскому языку
						</a>
					</p>
					<p>
						<a href="">
							по физике
						</a>
					</p>
					<p>
						<a href="">
							по химии
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}