{% extends "_base.html" %}

{% load staticfiles %}

{% block body %}
	<header class="section-red">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-red corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							{# <h1 class="text-center text-white font-weight-bold">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1> #}
							<h1 class="text-center">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-blue-dark btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<header class="section-orange">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-orange corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-purple-light btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<header class="section-yellow">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-yellow corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-danger btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<header class="section-green">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-green corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center  text-white">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center ">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-blue-dark btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<header class="section-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-blue corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center  text-white">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center ">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-primary btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<header class="section-purple">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left">
					<img src="{% static '/images/logo-dark.svg' %}" alt="Logo" height="50" width="200">
				</div>
				<div class="col-md-6 text-center text-md-right">
					<a href="tel:+73432885276">
						<p class="h1 phone">+7 (343) 288 52 76</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<section id="promo" class="section-purple corner-bottom-right">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1 col-sm-8 offset-sm-2">
					<div class="row main-text">
						<div class="col-12">
							<h1 class="text-center  text-white">Подготовим вашего ребенка к поступлению в СУНЦ УрФУ</h1>
							<p class="lead text-center ">Интенсивный двухнедельный курс подготовки в малых группах по математике, физике и филологии</p>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-6">
							<input class="form-control form-control-lg" type="text" placeholder="Телефон">
						</div>
					</div>
					<div class="row main-form-button">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-danger btn-lg btn-block">Заказать обратный звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="where">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Занятия проходят в центре города</h2>
				</div>
			</div>
			<div class="row map-row">
				<div class="col-8">
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ali9hKLknHCkYafq8i6gYEC1Wi8Dydd3e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
				</div>
				<div class="col-4">
					<p>Недалеко от Площади 1905 года</p>
					<p>Антона Валека, 15</p>
					<p>2 этаж, офис 202</p>
				</div>
			</div>
		</div>
	</section>
	<section id="what">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Что мы делаем?</h2>
				</div>
			</div>
			<div class="row cards-row">
				<div class="col-md-3 text-center">
					<img src="https://dummyimage.com/400x400/aaa/fff.png" alt="..." class="rounded-circle img-fluid cards-img">
					<p class="lead text-center">Осваиваем специфичные темы</p>
				</div>
				<div class="col-md-3 text-center">
					<img src="https://dummyimage.com/400x400/aaa/fff.png" alt="..." class="rounded-circle img-fluid cards-img">
					<p class="lead text-center">Закрываем пробелы в базовой подготовке</p>
				</div>
				<div class="col-md-3 text-center">
					<img src="https://dummyimage.com/400x400/aaa/fff.png" alt="..." class="rounded-circle img-fluid cards-img">
					<p class="lead text-center">Развиваем самообучаемость</p>
				</div>
				<div class="col-md-3 text-center">
					<img src="https://dummyimage.com/400x400/aaa/fff.png" alt="..." class="rounded-circle img-fluid cards-img">
					<p class="lead text-center">Учим планированию и эффективности</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}