							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/glazyrin.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Глазырин Вячеслав</p>
								<ul>
									<li>Награждён знаком «Отличник учёбы УрФУ»</li>
									<li>Окончил филологический факультет УрФУ с красным дипломом</li>
									<li>Участник научных конференций по лингвистике</li>
									<li>Участвует в проекте создания словаря языка О. Э. Мандельштама</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/glazyrin.png' %}" alt="..." class="img-fluid">
							</div>