							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/kiselev.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Киселев Влад</p>
								<ul>
									<li>Опыт преподавания с 2014 года.</li>
									<li>Призер Всероссийской научно-практической конференции студентов, аспирантов и молодых ученых с международным участием. "Энерго - и Ресурсосбережение. Энергообеспечение. Нетрадиционные и возобновляемые источники энергии"</li>
									<li>Кандидат мастера спорта по легкой атлетике.</li>
									<li>Любимая цитата: “Смотри в корень” (Козьма Прутковский)</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/kiselev.png' %}" alt="..." class="img-fluid">
							</div>