							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/komleva.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Комлева Евгения</p>
								<ul>
									<li>Опыт преподавания - с 2013 года</li>
									<li>С 2014 года – преподаватель физики категории А в федеральном учебном центре</li>
									<li>С 2016 года – тренирует олимпиадников в СУНЦ УрФУ</li>
									<li>Опыт преподавания - с 2011 года</li>
									<li>Дает не просто теорию, но развивает способность её применять для описания физических явлений в работе и окружающем быте.</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/komleva.png' %}" alt="..." class="img-fluid">
							</div>