							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/noskova.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Носкова Полина</p>
								<ul>
									<li>УГМУ, педиатрический факультет, квалификация – врач-педиатр, 6 курс. 
									<li>Окончила гимназию №9, медико-биологический класс в 2012</li>
									<li>Призер олимпиад всероссийского уровня по биологии и экологии</li> 
									<li>Опыт работы – с 2012 года</li>
									<li>Может научить думать и понимать, а не просто зубрить предмет</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/noskova.png' %}" alt="..." class="img-fluid">
							</div>