							{% load staticfiles %}
							
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/paramonova.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Парамонова Екатерина</p>
								<ul>
									<li>Лауреат премии губернатора Пермского края “За лучшие результаты ЕГЭ”</li>
									<li>Призёр олимпиад ПНИПУ и ИТМО по математике и информатике</li>
									<li>Награждена знаком “Отличник учёбы” УрФУ</li>
									<li>Опыт преподавания - с 2013 года</li>
									<li>Может показать, что математика - не просто набор абстрактных символов, формул и алгоритмов, а красивая наука, которая учит мыслить логически</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/paramonova.png' %}" alt="..." class="img-fluid">
							</div>