							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/safronov.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Сафронов Денис</p>
								<ul>
									<li>с 2015 года - преподаватель английского языка "Международного фонда Хилтон"</li>
									<li>Призер конкурса "Преподаватель года 2017" в учебном центре Юниум</li>
									<li>Уже несколько лет помогает выпускникам школы, владеющим языками, определиться с выбором высшего учебного заведения. Умеет научить и, что важнее, приучить ученика говорить на английском языке без барьеров и стеснения.</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/safronov.png' %}" alt="..." class="img-fluid">
							</div>