							{% load staticfiles %}
							
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="https://dummyimage.com/450x400/666666/fff.png&text=?" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Эрнст неизвестный</p>
								<ul>
									<li>кто-то тут будет</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="https://dummyimage.com/450x400/666666/fff.png&text=?" alt="..." class="img-fluid">
							</div>