							{% load staticfiles %}
							
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/harchenko.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Харченко Виталий</p>
								<ul>
									<li>Призёр всероссийских олимпиад по физике и математике</li>
									<li>С 2014 года – преподаватель физики категории А в федеральном учебном центре</li>
									<li>С 2016 года – тренирует олимпиадников в СУНЦ УрФУ</li>
									<li>Опыт преподавания - с 2011 года</li>
									<li>Умеет привить интерес к предмету, развить абстрактное техническое мышление, помочь в выборе ВУЗа и профессии.</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/harchenko.png' %}" alt="..." class="img-fluid">
							</div>