							{% load staticfiles %}
							
							<div class="col-6 align-self-end d-none d-md-flex d-lg-flex">
								<img src="{% static '/images/teachers/klimenteva.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Климентьева Ольга Васильевна</p>
								<ul>
									<li>Победитель конкурса “Лучшие учителя России” (2006, 2010, 2016)</li>
									<li>Профессор Российской Академии образования</li>
									<li>Стаж работы в 9 гимназии 17 лет по системе развивающего обучения Эльконина. Б.Д. - В.В. Давыдова</li>
									<li>За время работы в 9 гимназии выпустила 6 классов </li>
									<li>Кандидат педагогических наук, доцент</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center d-md-none d-lg-none">
								<br/>
								<img src="{% static '/images/teachers/klimenteva.png' %}" alt="..." class="img-fluid">
							</div>