							{% load staticfiles %}
							
							<div class="col-6 align-self-end hidden-sm-down">
								<img src="{% static '/images/teachers/lesogorova.png' %}" alt="..." class="img-fluid">
							</div>
							<div class="col-10 offset-1 col-md-6 offset-md-0">
								<h2 class="mt-0">Преподаватель курса</h2>
								<p class="lead">Лесогорова Светлана</p>
								<ul>
									<li>Участник международных и российских конференций по органической и гетероциклической химии</li>
									<li>С 2013 года – Кандидат химических наук по специальности «органическая химия»</li>
									<li>Уверена, что необходимо развивать навык применения полученных знаний не только в теории, но и на практике. На ее занятиях ребята также узнают много интересных фактов применения химии в жизни. Каждое занятие химией должно быть волнительным и увлекательным.</li>
								</ul>
							</div>
							<div class="col-sm-12 align-self-end text-center hidden-md-up">
								<br/>
								<img src="{% static '/images/teachers/lesogorova.png' %}" alt="..." class="img-fluid">
							</div>