					<div class="row">
						<div class="col text-center">
							<p class="h3">
								Узнай свой уровень знаний прямо сейчас!
							</p>
							<hr>
						</div>
					</div>
					<div class="row main-form">
						<div class="col-sm-6">
							<input class="form-control form-control-lg" type="text" placeholder="Ваше имя">
						</div>
						<div class="col-sm-6">
							<input class="form-control form-control-lg" type="email" placeholder="Электронная почта">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button type="button" role="button" class="btn btn-success btn-lg btn-block">Получи ссылку для тестирования</button>
						</div>
					</div>