						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/chem_shishova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Шишова Даша
									<a href="https://vk.com/dddd.sh10" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускница</p>
								<p>"На протяжении 2 лет  я занималась у Лесогоровой Светланы Геннадьевны. Впечатления от этих занятий  только самые хорошие и приятные. Светлана Геннадьевна - отличный педагог, который влюблён в химию и который искренне хочет поделиться своими знаниями с детьми. Занятия проходили легко,увлекательно и главное,  эффективно. Светлана Геннадьевна умеет надавить и заставить заниматься,когда это необходимо,однако это получается у неё аккуратно и с любовью. Знания давались схематично,на каждом занятии были дополнительные материалы. Светлана Геннадьевна умеет найти подход к каждому ученику. Никто на наших занятиях не скучал,уделялось время и внимание каждому. Самое главное, на мой взгляд, что Светлана Геннадьевна не просто владеет теорией,у нее есть опыт работы на производстве,что я считаю очень важным в  подготовке не только к егэ по химии,но и в дальнейшем обучении в вузе химического профиля."</p>
							</div>
						</div>