						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/chem_shulakova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Анна Шулакова
									<a href="https://vk.com/abadonxmw" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученица 2016-2017 учебного года</p>
								<p>"Я хочу сказать, что ты создана для преподавания. Химия сложный предмет, но ты его умеешь подавать и объяснять, как нечто элементарное. А ещё ты невероятно ответственная, что мало встречается в наши дни у преподавателей (даже у школьных, и это раздражает). Ты умела организовывать занятие так, что оно было не скучным. А ещё твоя уникальность, что ты уже не студентка, но понимаешь детей даже лучше, чем студенты-преподаватели. Вообщем всех твоих достижений и качеств трудно перечислить, но мне очень повезло, что я училась именно у тебя)"</p>
							</div>
						</div>