						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/eng_ovshinnikova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Елизавета Овчинникова
									<a href="https://vk.com/lizasepo" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученица 16-17 учебного года</p>
								<p>"Денис очень грамотный, добрый и внимательный преподаватель. Хорошо знает свой предмет и умеет донести мысль до ученика. Урок ведёт спокойно и доброжелательно, никогда не повышая голос. Материал преподаёт легко, весело и интересно. На его уроках не замечаешь, как пролетает время, узнаёшь много нового и познавательного, ждешь следующего занятия с нетерпением. Мне посчастливилось познакомится с таким преподавателем. Я бы с радостью поучилась у Дениса ещё не раз"</p>
							</div>
						</div>