						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/eng_krylov.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Павел Крылов
									<a href="https://vk.com/pav.krylov" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученик 16-17 учебного года</p>
								<p>"Преподаватель, имеющий уникальную систему образования, состоящую не только из "сидячей" грамматики, но и из множества взаимодействий детей между собой, занимательных игр на тему урока и многих других вещей, которые помогают втянутся в процесс обучения человеку с любым уровнем английского. Также на занятиях часто затрагиваются серьёзные, волнующие многих темы, и обсуждение их на английском способствует не только развитию разговорных навыков, но и умению мыслить на иностранном языке"</p>
							</div>
						</div>