						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/logic_shulepova.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Анна Шулепова
									<a href="https://vk.com/shulkaanyaic_" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Ученик 16-17 учебного года</p>
								<p>Мне кажется, что только совсем недавно я пришла в первый класс. Я очень хорошо помню свой светлый, нарядный класс, ребят, которых там впервые встретила и свою первую учительницу Ольгу Васильевну. Все ребята были такие маленькие, красивые, взволнованные и с интересом рассматривали друг друга. Мы не знали сколько всего интересного нам предстоит узнать, прочитать, изучить.</p>
								<p>Все эти четыре года Ольга Васильевна была для нас, как капитан дальнего плавания, и вела нас по морю знаний. Она научила нас быстро считать, красиво писать, хорошо читать. Я очень любила урок информатики, который вела Ольга Васильевна. Он был очень интересным. Больше всего мне нравилось печатать доклад и делать кроссворд на компьютере. Я очень хочу изучать информатику и дальше. Еще мне нравится математика. Интересные задачи, сложные уравнения дает нам Ольга Васильевна. Мы научились делать доклады по истории, естествознанию. Это интересно подбирать материал, фотографии, а потом рассказывать перед всем классом.</p>
								<p>Я быстро нашла друзей в классе и очень дорожу нашей дружбой. За эти годы мы хорошо узнали характеры друг друга, способности, привычки, кто кому нравится и не нравится.</p>
								<p>Все учителя, которых я знаю были с нами добрыми и ласковыми. Они нас многому научили, вместе с ними мы делали открытия! Учителя никогда не давали нам повесить ном и без дела мы никогда не оставались.</p>
								<p>У нас было много внешкольных мероприятий. Мы ходили в театр, на экскурсии и даже ездили в поход. Во всем нам помогали наши родители и наша учительница.</p>
								<p>Начальная школа многому научила: учится, дружить, веселиться.</p>
							</div>
						</div>