						{% load staticfiles %}
						
						<div class="row mention">
							<div class="col-3">
								<img class="d-flex mr-3 rounded-circle img-fluid w-100" src="{% static '/images/mentions/math_sherbinin.png' %}" alt="Avatar">
							</div>
							<div class="col-9">
								<h5 class="mt-0">
									Паша Щербинин
									<a href="https://vk.com/sicilik" target="_blank">
										<i class="fa fa-vk fa-lg" aria-hidden="true"></i>
									</a>
								</h5>
								<p class="lead">Выпускник 2017</p>
								<p>"Занимался с Екатериной пару месяцев . Так как должным образом не подготовился к ЕГЭ, потом понял что вся надежда на везение и репетитора . Занятия всегда проходили хорошо и все было более чем понятно . Очень благодарен Кате за занятия , ведь без них я бы не смог поступить куда хотел."</p>
							</div>
						</div>