@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

@import 'bootstrap';

// for navbar
body {
	&.with-nav {
		min-height: 75rem;
		padding-top: 3.5rem;
	}

	nav {
		background-color: $blue-dark;
	}
}

header {
	&.promo {
		padding-top: 50px;
		padding-bottom: 200px;

		.phone {
			color: $gray-dark;
		}

		h1 {
	        margin-bottom: 30px;
	    }

		.main-text {
			margin-top: 100px;
			margin-bottom: 80px;
		}

		.main-form {
			margin-bottom: 30px;
		}

		.main-form-button {
			margin-bottom: 30px;
		}
	}
}

#where {
	padding-top: 50px;

	.map-row {
		margin-top: 50px;
	}
}

#what {
	padding-top: 50px;

	.cards-row {
		margin-top: 50px;

        .cards-img {
            margin-bottom: 25px;
        }
	}
}

.footer {
	margin-top: 50px;
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: $gray-lightest;
}

figure, .embed-responsive {
	margin: 30px 0;
}