.btn {
	font-family: $font-family-roboto-slab;
}

.btn-green-light {
  @include button-variant($black, $green-light, $green-light);
}

.btn-green {
  @include button-variant($white, $green, $green);
}

.btn-outline-green {
  @include button-outline-variant($green);
}

.btn-red-light {
  @include button-variant($black, $red-light, $red-light);
}

.btn-blue-light {
  @include button-variant($black, $blue-light, $blue-light);
}

.btn-blue-dark {
  @include button-variant($white, $blue-dark, $blue-dark);
}

.btn-purple-light {
  @include button-variant($white, $purple, $purple);
}  

.btn-outline-gray {
  @include button-outline-variant($gray-dark);
}